<div class="wrapper">
    <h1 class="title">
      HEY <span class="highlight">I'M NISAA</span> HERE!
    </h1>
    <p class="subtitle">
      Experience the power of AI with AICompanion—free to try, no commitment needed.
      Start chatting now and discover seamless, intelligent assistance at your fingertips.
    </p>
  
    <div class="chat-section">
      <div class="image">
        <img src="/assets/avathar.jpg" alt="Avatar" />

      </div>
  
      <div class="chat-window">
        <div class="messages">
          <div *ngFor="let msg of messages" class="message" [ngClass]="msg.sender">
            {{ msg.text }}
          </div>
          <div #bottomAnchor></div>
        </div>
  
        <div class="input-area">
          <input
            [(ngModel)]="userInput"
            (keypress)="onKeyPress($event)"
            placeholder="Type something new..."
          />

          
          <button (click)="sendMessage()">➤</button>
        </div>
      </div>
    </div>
  </div>
  