body {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Optional: makes the image cover the full container */
    background-position: center;
    font-family: 'Segoe UI', sans-serif;
    color: white;

  }
  